@charset "UTF-8";

/*??��?��S??��?��Ẵy??��?��[??��?��W??��?��ɓK??��?��p*/
html {
    font-family: sans-serif;
    background-color: gainsboro;
}
html* {
  box-sizing: border-box;
}
#backImg {
	background-size: 140px;
	}
.container {
position: relative;
min-height: 100vh;/*�@�����̍ŏ��l*/
}

@media (max-width: 390px){
  .hamburgermenu a {
  font-size: 30px  !important;
}
a.hamburger-menu {
  margin-top: 13px  !important;
}
.hamburger-menu div {
  width: 40px !important;
  height: 2px  !important;
  margin: 10px  !important;
  }
  .header{
  height: 70px  !important;
  }
  h2{
  font-size: 20px  !important;
  }
  #logoutLogo img{
  height: 50px !important;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: ghostwhite;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  border-bottom:1px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
}
/*ハンバ�??��ガー*/
.hamburger-menu div {
  width: 70px;
  height: 5px;
  background-color: black;
  margin: 18px;
  transition: .3s;

}
.hamburger-menu:hover div {
  opacity:0.6;
}
.hamburger-menu + .sidenavs:target {
  overflow-x: visible;
  width: 100%;
  display:block;
}
.sidenavs:target {
  overflow-x: hidden;
  width: 0;
}
.sidenavs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: ghostwhite;
  overflow-x: hidden;
  /* 横スクロールを無効にする */
  padding-top: 60px;
  transition: 0.3s;
}
.sidenavs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  position:realtive;
  transition: 0.3s;
}
/* マウスオーバ�??��後�??��リンク */
.sidenavs a:hover {
  color: black;
}
/* クローズボタン */
.sidenavs .close-btn {
  position: absolute;
  top: 0;
  font-size: 50px;
}
#logoutLogo img{
height: 70px;
margin-top:7px
}
body{
  margin: 0px;
}

.hamburgermenu {
    list-style: none;
    text-align: center;
    padding-left: 0;
    font-size:70px;
    ;
}
.hamburgermenu a{
  font-size: 30px;
  color: #505050;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #afeeee;
  vertical-align: middle;
  border-radius: 30px 0px 0px 30px;
  margin-bottom: 35px;
  width: 350px;
  text-align: left;
  margin-left: 190px;
  margin-right: 200px;
}

.hamburgermenu a::before {
content: "";
display:inline-block;
border-radius: 30px;
height: 30px;
width: 30px;
background: ghostwhite;
margin-right: 15px;
margin-bottom: -7px;
}

li.top{
  margin-bottom: 50px;
  margin-top: -30px;
}
li.top img{
height:200px;
}
h2{
  font-size: 25px;
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
/*achievement*/
.achievementList{
font-size: 40px;
border: solid black;
text-align: center;
  width: 700px;

  margin-left: auto;
  margin-right: auto;
}

#achievementListAll{
padding-top:200px;
}

#achievementTop{
display: flex;
justify-content: space-evenly;
}

/*カレンダー*/

/*taskincomp*/
span.deadlineTime {
    z-index: 2;
    position: absolute;
    margin-left: -170px;
    font-size: 30px;
}

div#currentDateIncomp {
	text-align: center;
	font-size: 40px;
	 background: linear-gradient(transparent 60%, #afeeee 60%);
	 margin:35px 150px 0;
}
h2#pastDateIncomp{
	text-align: center;
	font-size:40px;
	 background: linear-gradient(transparent 60%, #afeeee 60%);
	margin: 35px 220px 0;
}
div#incompToday {
    text-align: center;
    border-bottom: solid 0.5px;
}
.incompYesterday {
    text-align: center;
    border-bottom: solid 0.5px;
}
div#switchMode {
    font-size: 35px;
    margin-top: 50px;
}
input#switchModeDone{
    height: 60px;
    width: 150px;
    font-size: 30px;
    margin: 30px 260px 0;
}
input#switchModeDelete{
    height: 60px;
    width: 150px;
    font-size: 30px;
    margin: 30px 260px 0;
}
div#doneOrDelete {
    margin-left: 70px;
    margin-top: 10px;
}
.incompTask{
margin:190px 150px 30px;
background: white;
padding-top: 50px;
padding-bottom: 40px;
position: relative;
border-radius: 4px;
}
.incompTask:before, .incompTask:after
{
 z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.incompTask:after
{
 -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

input#taskIncompCheck {
    height: 10px;
    margin-right: 35px;
    transform: scale(3.5);
}
input#radioDone {
    transform: scale(3);
    margin-right: 30px;
}
input#radioDelete{
    transform: scale(3);
    margin-right: 30px;
}
input.taskIncomp {
    height: 90px;
    font-size: 40px;
    border: none;
    background: transparent;
    outline: none;
    margin-bottom: -20px;
    padding-top: 25px;

}

input.PreTaskIncomp {
    height: 90px;
    font-size: 40px;
    border: none;
    background: white;
    outline: none;
    background: transparent;
    margin-bottom: -20px;
    padding-top: 25px;
}
.masking-tape{
  position: absolute;
  z-index: 1;
  top: 155px;
  left: 35%;
  width: 200px;
  height: 60px;
  background-image: linear-gradient(-45deg, rgba(255,165,0,.4) 25%, transparent 25%, transparent 50%, rgba(255,165,0,.4) 50%, rgba(255,165,0,.4) 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  border-left:7px dotted rgba(0,0,0,.1);
  border-right:7px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(-4deg);
}

button#taskEdit {
    height: 45px;
    width: 75px;
    font-size: 30px;
    margin-left: -60px;
}


/*taskcomp*/
.dateLine{
	  font-size: 10px;
	  text-align: right;
	  padding-top:10px;
	  padding-right: 0.5em;
	  }

#taskCompList{
  margin-top: 130px;
  padding: 100px 100px 80px 50px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.taskComp{
  text-align: left;
  border-bottom: solid 0.5px black;
  border-left: solid 20px #afeeee;
  width: 700px;
  background-color: white;
  position: relative;
  margin-bottom: 50px;
}
.taskComp:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.taskComp div{
	font-size: 30px;
}
#cmpTaskContent{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 2行表示 */
      -webkit-box-orient: vertical;
      width: 520px;
      height:130px;
      font-size: 50px;
      padding-left: 0.5em;
}
#backIncomp {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  height: 80px;
  width: 200px;
  margin-top: 30px;
  font-size: 30px;
  border-radius: 20px;
  position: fixed;
  bottom: 45px;
  margin-left: -300px;
}

#backIncomp:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

input.taskcompCheck {
    transform: scale(6);
    position: absolute;
    margin-left: 600px;
    margin-top: 50px;
}
input.taskcompCheck ::before{
	border: solid 0.5px black;
}

/*setting*/
form#language {
    margin-top: 150px;
}

/*login*/
span#buttonEye {
z-index: 2;
position: absolute;
margin-top: 17px;
margin-left: -30px;
}
#loginForm{
text-align: center;
margin-bottom: 40px;
}
.titleLogo{
text-align: center;
margin-bottom: 30px;
}
#signUp{
margin-left: 336px;
font-size: 25px;
position: absolute;
z-index: 999;
}
hr#hrLeft {
margin-top: 15px;
width: 250px;
}
#hrRight{
margin-top: -13px;
text-align: right;
margin-right: 0;
width: 250px;
margin-bottom: 40px;
}

#loginOr{
margin-top: -13px;
text-align: center;
}
.loginForm {
margin-bottom: 15px;
}
img{
height: 300px;
margin-top:-50px;
}
.loginForm .textInput {
height: 50px;
font-size: 25px;
width: 300px;
border-radius: 6em;
border: solid #818181;
}
input#loginButton {
font-size: 25px;
}

@media (max-width: 390px){
.container {
  position: relative;
  min-height: 100vh;
  height: 1538px;
  width: 780px;
}
img {
  height: 450px;
}
.loginForm .textInput {
  height: 80px;
  font-size: 40px;
  width: 400px;
}
input#loginButton {
  font-size: 40px;
}
#loginOr{
  font-size: 30px;
}
hr#hrLeft{
  margin-top: 100px;
}
#hrRight{
  margin-top: -33px;
  margin-bottom: 75px;
}
#signUp{
  margin-left: 314px;
  font-size: 40px;
}
#loginForm{
  margin-top: 80px;
}
span#buttonEye{
  margin-top: 45px;
  margin-left: -55px;
}
p#output {
  font-size: 25px;
}
canvas{
  height: 325px;
}
}

/*calender.html*/
.btn-mouseover:hover + .mouseover__box{
display: block;
}
.mouseover__box:hover{
  display: block;
}
.mouseover__box{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 200px;
  padding: 15px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



canvas{
  position: absolute;
  bottom: 0;
left:0;
  width: 100%;
}




html {
background-color: ghostwhite;
}

.planePath {
stroke: #D9DADA;
stroke-width: .1%;
stroke-width: .5%;
stroke-dasharray: 1% 2%;
stroke-linecap: round;
fill: none;
}

.fil1 {
fill: #D9DADA;
}

.fil2 {
fill: #C5C6C6;
}

.fil4 {
fill: #9D9E9E;
}

.fil3 {
fill: #AEAFB0;
}

/*userregist*/
.titleLogoUserRegist {
text-align: center;
margin-top: 60px;
margin-top: 50px;
margin-bottom: -20px;
}
.titleLogoUserRegist img{
height: 250px;
margin-top:-50px;
}
#userRegistTitle{
text-align: center;
font-size: 40px;
margin-top: -40px;
}

#signUpText{
position: absolute;
margin-left: 150px;
font-size: 25px;
border: solid gray;
margin-right: 150px;
border-radius: 0.5em;
padding: 20px 60px 30px 70px;
background: white;
margin-top: -15px;
z-index: 999;
border-left: solid 10px gray;
}
#signUpText p{
text-align: center;
}
.newRegistForm input[type="text"] {
height: 45px;
width: 310px;
font-size: 25px;
border-bottom: solid 3px;
border-top: none;
border-left: none;
border-right: none;
}
input#secretQuestion{
height: 45px;
width: 310px;
font-size: 25px;
border-bottom: solid 3px;
border-top: none;
border-left: none;
border-right: none;
}
#secretQuestion{
margin-top: 25px;
}
select {
height: 40px;
border-bottom: solid;
border-top: none;
border-left: none;
border-right: none;
width: 312px;
font-size: 25px;
}
input#regist {
margin-left: 100px;
border-radius: 0.5em;
border: solid #818181;
height: 50px;
width: 120px;
font-size: 25px;
}
hr#signUpHrright {
width: 260px;
text-align: right;
margin-right: 0;
margin-top: -63px;
margin-bottom: 80px;
}
hr#signUpHrLeft {
width: 260px;
margin-left: 0;
margin-top: 70px;
}

@media (max-width: 390px){
.titleLogoUserRegist {
margin-top: 150px;
}
hr#signUpHrLeft {
margin-top: 100px;
}
hr#signUpHrright{
  margin-bottom: 120px;
  margin-top: -72px;
}
#userRegistTitle{
font-size: 45px !important;
}
.titleLogoUserRegist img {
  height: 400px;
}
input[type="text"] {
  height: 80px;
  width: 500px;
  font-size: 40px;
}
select{
width: 400px;
font-size: 40px;
}
#signUpText{
margin-left:63px;
}
input#regist{
    height: 70px;
  width: 150px;
  font-size: 40px;
  margin-left: 165px;
  margin-top:20px;
   }
   #signUpText p{
	font-size: 40px;
    }
}

/*taskregist*/

p#changeDateClick {
    font-size: small;
}

div#weekDay {
    font-size: larger;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 19px;
      font-weight   : bold;
}
p#taskRegistForm {
    padding-top: 90px;
}
p#taskRegistForm{
	position: relative;
  padding: 0rem 4rem 0.7rem;
}
p#taskRegistForm:after {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#registForm {
    margin-top: 180px;
    text-align: center;
    font-size: 30px;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 30px;
    padding-top: 50px;
    background: white;
    position: relative;
    border-radius: 7px;
}
#registForm:before, #registForm:after
{
 z-index: -2;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
#registForm:after
{

 -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

input#timeInput {
    height: 40px;
    width: 120px;
    font-size: 29px;
}
div#timeSelect {
   text-align: left;
    margin-left: 110px;
    margin-bottom: 40px;
}
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
#taskInputContent {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
	margin-left: 40px;
	font-size: 40px;
}
#taskInputContent ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 40px;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #ffa500;
}
#taskInputContent:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
#taskInputContent ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
#taskInputContent:focus ~ label, .cp_iptxt#taskInputContent ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #ffa500;
}
input#timeCheckOnOff {
    transform: scale(2);
    margin-right: 15px;
}
.masking-tapeRegist{
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 31%;
  width: 200px;
  height: 40px;
  background: #ece093;
  background-size: 40px 40px;
  border-left:7px dotted rgba(0,0,0,.1);
  border-right:7px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 0.25em 2em;
  transform: rotate(-4deg);
  opacity: 0.8;
}
#taskRegistBtn {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 40px;   /* 余白       */
  background    : gray;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid gray;    /* 枠の指定 */
  margin-bottom: 50px;
}
#taskRegistBtn:hover {
  color         : gray;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}