  @charset "UTF-8";

  /*?��S?��Ẵy?��[?��W?��ɓK?��p*/
  html {
      font-family: sans-serif;
      background-color: gainsboro;
  }
  html* {
    box-sizing: border-box;
  }

  .header{
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  /*ハンバ�?�ガー*/
  .hamburger-menu div {
    width: 70px;
    height: 5px;
    background-color: black;
    margin: 18px;
    transition: .3s;

  }
  .hamburger-menu:hover div {
    opacity:0.6;
    /* 透�?�度を指�? */
  }
  .hamburger-menu + .sidenavs:target {
    overflow-x: visible;
    width: 100%;
    display:block;
  }
  .sidenavs:target {
    overflow-x: hidden;
    width: 0;
  }
  /* ハンバ�?�ガーメニュー表示�? */
  .sidenavs {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgray;
    overflow-x: hidden;
    /* 横スクロールを無効にする */
    padding-top: 60px;
    transition: 0.3s;
  }
  /* ハンバ�?�ガーメニュー表示時�?�リンク */
  .sidenavs a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight:bold;
  }
  /* マウスオーバ�?�後�?�リンク */
  .sidenavs a:hover {
    color: black;
  }
  /* クローズボタン */
  .sidenavs .close-btn {
    position: absolute;
    top: 0;
    font-size: 50px;
  }
  body{
    margin: 0px;
  }

  .hamburgermenu {
      list-style: none;
      text-align: center;
      padding-left: 0;
      font-size:70px;
      ;
  }
  .hamburgermenu a{
    font-size: 50px;
  }
  li.top{
    margin-bottom: 30px;
    font-size: 50px;
  }
  h2{
    font-size: 25px;
  }

/*achievement*/
.achievementList{
  font-size: 40px;
  border: solid black;
  text-align: center;
    width: 700px;

    margin-left: auto;
    margin-right: auto;
}
#achievementListAll{
  padding-top:200px;
}

#achievementTop{
  display: flex;
  justify-content: space-evenly;
}

/*カレンダー*/

#yearDate {
  border-radius: 4px;
  transition: all 0.2s;
  text-align: center;
  padding-top: 200px;
  margin-right: 40px;
  margin-left: 40px;
  height:200px
}
/*.vc-weeks[data-v-74ad501d] {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 5px;
  width: 900px;
  min-height: 900px;

}*/
/*span.vc-day-content.vc-focusable {
  font-size: 40px;
}*/
element.style {
  margin: 0px;
  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate3d(300px, 38px, 0px);
  width: 300px;
  height: 300px;
}
div.vc-title{
  font-size: 3em;
}
.vc-weekday[data-v-74ad501d] {
  text-align: center;
  color: var(--gray-500);
  /* font-size: var(--text-sm); */
  font-weight: var(--font-bold);
  line-height: 14px;
  padding-top: 4px;
  padding-bottom: 8px;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  font-size: 40px;
}
/*taskincomp*/
div#currentDateIncomp {
  padding-top: 100px;
}
/*taskcomp*/
#taskCompList{
  padding-top: 130px;
  text-align: center;
}
.taskComp{
  text-align: left;
}
.taskComp{
  border: solid black;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#backIncomp{
  margin-top: 1em;
}
/*setting*/
#registForm{
  padding-top:100px;
}

/*login*/
span#buttonEye {
  z-index: 2;
  position: absolute;
  margin-top: 2px;
  margin-left: -30px;
}